<div class="row ">
  <div class="col-12 g-md-0">
    <nav class="navbar navbar-expand-lg bg-light rounded">
      <div class="container-fluid">
        <div class="navbar-brand fw-bold d-flex">
          <p class="h4 d-flex">
            {{ user.firstName }} {{ user.lastName }} {{ user.secondLastName }}
          </p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li *ngFor="let item of options" [ngClass]="item.class">
              <a class="nav-link m-4 mt-0 mb-0" aria-current="page" [routerLink]="item.router">{{item.text}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
